<ion-view view-title="Auctions Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          You have uploaded <b>3</b> items for consignment.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Earnings</div>
      <div class="item item-body">
        <div>
          You have earned <b>$1500</b> dollars in total.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
